@import '../../styles/imports.scss';

.notesContainer {
  display: grid;
  grid-gap: 15px;
  @include m {
    grid-template-columns: 1fr 1fr;
  }
}

.sectionHeading {
  grid-column: 1 / -1;
}

.addCharacterButton {
  grid-column: 1 / -1;
  justify-self: center;
}
