.link {
  a,
  button {
    text-decoration: none;
    color: var(--color-white);
    transition: color 0.2s;
    font-size: 1.6rem;
    &:hover {
      color: var(--color-white-3);
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
  &.noUnderline {
    a,
    button {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
