@import '../../../styles/imports.scss';

.toolbar {
  display: grid;
  grid-gap: 15px;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  padding: 10px;
  justify-content: space-between;
  background-color: var(--color-black);
}

.toolbarButton {
  display: inline-flex;
  width: 15px;
  justify-content: center;
  align-items: center;
  max-height: 15px;
  svg {
    width: 100%;
    max-height: 15px;
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  &.active {
    svg {
      opacity: 1;
    }
  }
  &:hover {
    svg {
      opacity: 1;
    }
  }
}

.buttonGroup {
  display: grid;
  grid-gap: 15px;
  grid-auto-flow: column;
}
