@import '../../styles/imports.scss';

.campaignOverviewSection {
  margin-top: 50px;
}

.container {
  display: grid;
  grid-gap: 25px;
  @include m {
    grid-template-columns: repeat(2, 1fr);
  }
}
