@import '../../styles/imports.scss';

.campaignDetailSection {
  display: grid;
  grid-gap: 50px;
}

.container {
  display: grid;
  grid-gap: 35px;
}

.deleteModalHeader,
.modalBody {
  @include fontWeight(200);
}

.deleteModalHeader {
  display: inline-block;
  margin-bottom: 30px;
}

.modalBody {
  margin-bottom: 30px;
}

.modalButtonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.modalButton {
  &:after {
    display: none;
  }
}

.cancelButton {
  border: none;
}

.deleteButton {
  color: var(--color-error);
  border: 1px solid var(--color-error);
  border-radius: 25px;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    color: var(--color-black-3);
    background-color: var(--color-error);
  }
}

.modalError {
  font-size: 12px;
  color: var(--color-error);
  margin-bottom: 20px;
}
