@import '../../../styles/imports.scss';

.extraContentContainer {
  display: grid;
  grid-gap: 15px;
}

.iconContainer {
  display: inline-block;
  width: 25px;
  margin-right: 15px;
}

.usersSection {
  display: flex;
}

.usersContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
}

.username {
  margin-right: 15px;
  margin-bottom: 5px;
  font-style: italic;
  @include fontWeight(150);
  &:last-of-type {
    margin-right: 0px;
  }
}

.dmSection {
  display: flex;
  align-items: center;
}
