@import '../../styles/imports.scss';

.input {
  display: block;
  width: 100%;
  padding: 5px 0px;
  font-size: 1.6rem;
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-white-3);
  color: var(--color-white);
  &:focus {
    outline: none;
    border-width: 3px;
    padding-bottom: 3px;
  }
  &.hasError {
    border-color: var(--color-error);
  }
}

.errorText {
  color: var(--color-error);
  font-size: 1.2rem;
}
