@import '../../styles/imports.scss';

.richTextEditorContainer {
  border: 1px solid var(--color-black);
  background-color: var(--color-black-2);
  @include m {
    min-width: 750px;
  }

  strong {
    @include fontWeight(600);
  }

  em {
    @include italicize();
  }

  p {
    margin-bottom: 10px;
  }

  code {
    display: inline-flex;
    align-items: center;
    background-color: var(--color-black);
    border: 1px solid var(--color-black-2);
    font-variant-ligatures: none;
    span {
      color: var(--color-error);
      font-size: 1.2rem;
    }
  }

  ul {
    li {
      display: flex;
      align-items: center;
      &:before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-right: 5px;
        background-color: var(--color-white);
        border-radius: 50%;
      }
    }
  }
}

.test {
  padding: 15px 10px;
}
