:root {
  /* The initial color is the lightest, higher number is a darker color variation. */
  --color-black: #27272b;
  --color-black-2: #17171a;
  --color-black-3: #101011;

  --color-white: #ffffff;
  --color-white-2: #e6e6e6;
  --color-white-3: #cccccc;

  --color-purple: #6670f9;
  --color-purple-2: #525ac7;
  --color-purple3: #3d4395;

  --color-yellow: #f4db44;
  --color-yellow-2: #c3af36;
  --color-yellow-3: #928329;

  --border-rounding-large: 24px;
  --border-rounding-small: 5px;
  --border-color-faded-white: #ffffff0d;

  --color-error: #f96666;
}

html {
  font-size: 10px;
}

body,
html {
  width: 100%;
}

@font-face {
  font-family: 'Inter var';
  src: url(../public/Inter.var.woff2);
}

body {
  font-family: 'Inter var', sans-serif;
  font-feature-settings: 'tnum', 'zero', 'ss01', 'ss03', 'cv05', 'cv06', 'cv11';
  font-weight: 300;
  font-style: normal;
  background-color: var(--color-black);
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--color-white);
}

h1 {
  font-size: 4.6rem;
  @media (min-width: 1025px) {
    font-size: 6.4rem;
  }
}

p,
label,
span,
div {
  font-size: 1.6rem;
  @media (min-width: 1025px) {
    font-size: 1.8rem;
  }
}

* {
  box-sizing: border-box;
}
