@mixin mobileView($display: block, $breakpoint: 1025) {
  display: $display;

  @media (min-width: #{$breakpoint}px) {
    display: none;
  }
}

@mixin desktopView($display: block, $breakpoint: 1025) {
  display: none;

  @media (min-width: #{$breakpoint}px) {
    display: $display;
  }
}

@mixin fontWeight($amount: 300) {
  font-variation-settings: 'wght' $amount;
}

@mixin softBorder {
  border: 1px solid var(--color-soft-border);
}
